body{
    text-align: center;
}
.section__cataloge a{
    text-decoration: none;
    color: rgba(41, 22, 14, 1) ;
}
.cataloge__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: 'Exo 2';
    font-size: 35px;
    font-weight: 700;
}
.cataloge__items a{
    margin: 20px;
}
.note{
    text-align: center;
    font-size: 35px;
    font-style: italic;
}
.section__big-slogan{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Exo 2';
}
.section__slogan{
    font-size: 35px;
    font-weight: 700;
}
:hover .section__slogan{
    border-bottom: double rgba(41, 22, 14, 1) 10px;
    transition-duration: 1s;
}
.information{
    text-decoration: none;
     font-family: 'Exo 2';
     font-style: italic;
     color:rgba(41, 22, 14, 1) ;
}
.buy{
    text-decoration: none;
    background-color: rgba(41, 22, 14, 1);
    color: rgba(234, 207, 175, 1);
    font-family: 'Exo 2';
    border-radius: 50px;
    padding: 10px 20px;
}
.jewelery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bracelets , .earrings , .sets, .brooches, .beads{
display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bracelets__item , .earrings__item , .sets__item, .brooches__item, .beads__item{
    color: rgba(41, 22, 14, 1);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    border:5px solid rgba(41, 22, 14, 1);
    border-radius: 15px;
    margin: 50px;
    max-width:350px;
    /*min-width: 200px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bracelets__item__text, .earrings__item__text ,.sets__item__text , .brooches__item__text, .beads__item__text{
    height: 200px;
}
.bracelets__item img ,.earrings__item img , .sets__item img, .brooches__item img , .beads__item img{
    margin-top: 10px;
    width: 250px;
    height: 250px;
}


